.popup {
    position: fixed; /*из Вебинара Георгия Девяткина "Работа с DOM"*/
    /*растянем overlay по всем углам:*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5); /*полупрозрачный черный*/
    display: none; /*flex; перенес в popup_opened */
    justify-content: center;
    padding: 195px 0 0; /* убрал правый и левый padding после 2го ревью*/
    align-items: flex-start;
    font-family: 'Inter', Arial, sans-serif;
}
@media screen and (max-width: 600px) { /*and (min-width: 320px)*/
    .popup {        
        padding: 123px 19px 0;       
    }
}