.popup__button-save {    
    max-width: 358px; /*исправил с width на max-width для адаптивности верстки после 1го ревью*/
    width:100%; /*добавил после 1го ревью 
    При использовании фиксированных значений ширины для блоков, теряется понятие адаптивная верстка. 
    CSS предлагает более мягкое свойство - max-width. 
    Старайтесь использовать его, чтобы не потерять отображение верстки при изменении ширины окна - используйте связку max-width и width:100%.
    Если вы воспользуетесь им, то вам не придется на каждом разрешении или в каждом media подгонять ширину.
    Когда ширина окна станет меньше, чем максимальное значение max-width, блок будет просто адаптивно сжиматься растягиваясь на всю ширину. */
    
    min-height: 50px; /*добавил после 1го ревью  
    Старайтесь избегать фиксированных значений для height;
    Если же вам все же нужно указать высоту, то воспользуйтесь адаптивным свойством, таким
    как min-height. Когда контента станет больше, чем может вместить блок с указанной высотой,
    то он просто будет увеличивается и подстраиваться под новое количество контента. */
    border: none; /*Убрал у кнопки рамку после 1го ревью.*/
    background: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    margin-top: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__button-save {
        margin-top: 50px;
        min-height: 46px;
        max-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__button-save:hover { 
    /*Все интерактивные элементы должны реагировать на наведение мышью.
    Должен быть :hover эффект.
    Для данного элемента нужно реализовать интерактив при наведении мышью.*/
    cursor: pointer;
    opacity: .6;
}