.popup__input {    
    padding-bottom: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
