.profile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px; /*после pixel-perfect исправил с 36px на 40px;*/
    padding-bottom: 50px; /*после pixel-perfect исправил с 47px на 50px;*/
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .profile {
    padding-top: 42px; /*после pixel-perfect исправил с 38px на 42px;*/
    flex-direction: column;
    align-items: flex-start;
    width: 282px;
    padding-bottom: 0;
}
}
