.element__title { /* Карачаевск */
    margin: 0;
    padding-left: 21px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    /*При редактировании данных профиля из попапа пользователь тоже может ввести длинный текст. 
    Чтобы реализовать переполнение блока с появляющимся многоточием в конце, используйте такой
    набор свойств CSS (3 строчки):*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*добавляю также максимальную ширину после которой лишний текст превратится в ...*/
    max-width: 210px;
}