.header__logo {
    width: 142px;
    height: 33px;
    /*margin-bottom: 41px;*/
}
@media screen and (max-width: 900px) { /*после 3го ревью исправил 767px на 900 чтобы устранить
     замечание: "Элементы не должны липнуть к краям. "*/
    /*убрал после 2го ревью (min-width: 320px)*/
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding-left: 27px;
    }
}
