.header {
    max-width: 880px;
    margin: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #545454;
    padding-bottom: 37px;
}

@media screen and (max-width: 767px) { /*убрал после 2го ревью: (min-width: 320px)*/
    .header {
        padding-bottom: 28px;
    }
}
