.element__image {
    margin: 0;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover; /*contain; /*Свойство object-fit определяет, как содержимое заменяемого элемента,
     такого как <img>, должно заполнять контейнер относительно его высоты и ширины.*/
}

.element__image:hover {
    cursor: pointer;
}
