.profile__info {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) { /*убрал полсе 2го ревью: and (min-width: 320px)"*/
    .profile__info {
        flex-direction: column;
    }
}