.element__remove-button {
    position: absolute;
    top: 18px;
    right: 15px;
    z-index: 1;
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    max-width: 18px;
    max-height: 19px;
    transition: opacity .7s ease;    
  }
  
  .element__remove-button:hover {
    opacity: .6;
    cursor: pointer;
  }
  