/*увеличу размер кнопки like в 2 раза с помощью @keyframes:*/
@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}

.element__button-like {
    margin: 0;
    background-image: url('../../../images/like-button.svg'); /*/images/like-button.svg*/
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px; /*после 1го ревью исправил с 21px на 22, чтобы не было обрезки*/
    height: 18px; /*19px;*/
    border: none; /*убрал рамку-обводку вокруг сердечка*/
    outline: none;
    padding: 0;
    margin-right: 17px;
    transition: opacity .7s ease;
}
.element__button-like:hover {
    opacity: .5;
    cursor: pointer;
}


.element__button-like:focus {
    animation: scale .5s 1 normal both ease /*easy исправил на ease и всё закарботало - Владимир Шевченко, ревьюер, 03/01/21*/
}
